# Binary created by Visual Stduio Code during debug session
__debug_bin*

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
.idea/
*.iml
.vscode/

# Runtime collected data
data/